$primary: #48ACF9;
$info: #AAD457;
$warning: #DF9368;
$danger: #ED2F4E;
$dark: #131517;
$secondary: #182026;


$border-radius:               .75rem;
$border-radius-sm:            .5rem;
$border-radius-lg:            1rem;
$border-radius-xl:            2rem;
$border-radius-2xl:           4rem;
$border-radius-pill:          50rem;

@import '../../node_modules/bootstrap/scss/bootstrap'